<div class="project view">
    <div class="header">
        <div class="container-fluid">
			<button type="button" class="refresh btn btn-xs btn-default" ng-disabled="!widgets.loaded" ng-click="reload()">
				<span class="glyphicon glyphicon-refresh"></span>
			</button>
            <a ng-click="go('#')">Sweetp Dashboard</a> - Project: {{project.name}}
        </div>
    </div>

	<div class="container-fluid widgets">
		<span ng-if="project.git">
			<!--<button class="btn btn-primary" ng-click="openCommitWindow()">Commit</button>-->

			<sp-git-status-widget project="project"></sp-git-status-widget>
			<sp-git-staging-area-widget project="project"></sp-git-staging-area-widget>
			<sp-scm-commit-widget project="project" on-success="onCommitSuccess(data)"></sp-scm-commit-widget>
			<sp-git-recent-commits-widget max-commit-count="25" project="project"></sp-git-recent-commits-widget>
		</span>

		<p class="alert alert-warning" ng-if="!project.git">
			Git is not configured for this project. At the moment there exist
			only widgets for Git so here is nothing yet to show.
		</p>
	</div>

</div>
