<div class="view overview">
	<div class="container">
		<div class="jumbotron">
			<h1>Sweetp Dashboard</h1>
		</div>
	</div>

	<div class="projects container">
		<h2>Projects</h2>

		<div ng-cloak ng-show="projectsLoaded">
			<div ng-repeat="project in projects" class="project">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">
							<a ng-click="go('project/' + project.name)">{{project.name}}</a>
						</h3>
					</div>
					<div class="panel-body">
						Location: <pre class="inline">{{project.dir}}</pre>
					</div>
				</div>
			</div>
			<div ng-hide="projects" class="alert alert-danger">
				Tried to load project configs from sweetp server, but an error occured.
			</div>
		</div>

	</div>

	<div class="container">
		<h2>Settings</h2>
		<form name="settingsForm" class="form-horizontal" role="form">
			<div class="form-group">
				<label class="col-sm-2 control-label">Sweetp Server URL</label>
				<div class="col-sm-10">
					<input ng-model="settings.serverUrl" class="form-control" type="url" placeholder="Enter url with trailing slash" required>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button class="btn btn-default" data-ng-click="saveSettings()">Save</button>
				</div>
			</div>
		</form>
	</div>
</div>
