<div class="view overview">
	<div class="container">
		<div class="jumbotron">
			<h1>Sweetp Dashboard</h1>
		</div>
	</div>

	<div class="projects.list container">
		<h2>
			<span>Projects</span>
			<button type="button" class="refresh btn btn-sm btn-default" ng-disabled="!projects.loaded" ng-click="reloadProjects()">
				<span class="glyphicon glyphicon-refresh"></span>
			</button>
		</h2>

		<div ng-cloak ng-show="projects.loaded">
			<div ng-repeat="project in projects.list" class="project">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">
							<a ng-click="go('project/' + project.name)">{{project.name}}</a>
						</h3>
					</div>
					<div class="panel-body">
						Location: <pre class="inline">{{project.dir}}</pre>
					</div>
				</div>
			</div>
			<div ng-hide="projects.list" class="alert alert-danger">
				Tried to load project configs from sweetp server, but an error occured.
			</div>
		</div>

	</div>

	<div class="container">
		<h2>Settings</h2>
		<form name="settingsForm" class="form-horizontal" role="form" novalidate>
			<div class="form-group" ng-class="{ 'has-error' : settingsForm.serverUrl.$invalid && !settingsForm.serverUrl.$pristine }">
				<label class="col-sm-3 control-label">Sweetp Server URL</label>
				<div class="col-sm-9">
					<input ng-model="settings.serverUrl" name="serverUrl" class="form-control" type="url" placeholder="Enter url with trailing slash" required>
					<p ng-show="settingsForm.serverUrl.$invalid && !settingsForm.serverUrl.$pristine" class="help-block">Enter valid url.</p>
				</div>
			</div>

			<div class="form-group" ng-class="{ 'has-error' : settingsForm.standardNotificationDismissDelay.$invalid && !settingsForm.standardNotificationDismissDelay.$pristine }">
				<label class="col-sm-3 control-label">Notification Dismiss Delay (in ms)</label>
				<div class="col-sm-9">
					<input ng-model="settings.standardNotificationDismissDelay" name="standardNotificationDismissDelay" class="form-control" type="number" required>
					<p ng-show="settingsForm.standardNotificationDismissDelay.$invalid && !settingsForm.standardNotificationDismissDelay.$pristine" class="help-block">Enter valid number.</p>
				</div>
			</div>

			<div class="form-group">
				<div class="col-sm-offset-3 col-sm-9">
					<button class="btn btn-default" ng-disabled="settingsForm.$invalid" ng-click="saveSettings()">Save</button>
				</div>
			</div>
		</form>
	</div>
</div>
