<div class="project view">
    <div class="header">
        <div class="container">
			<button type="button" class="refresh btn btn-xs btn-default" ng-disabled="!widgetsLoaded" ng-click="refresh()">
				<span class="glyphicon glyphicon-refresh"></span>
			</button>
            <a ng-click="go('#')">Sweetp Dashboard</a> - Project: {{project.name}}
        </div>
    </div>

	<div class="container widgets">

		<spd-git-status-widget project="project" />

		<spd-widget>
			Last 5 commits in branch:
			<ul>
				<li ng-repeat="entry in log">
					<code>{{entry.shortName}}</code> {{entry.shortMessage}}
				</li>
			</ul>
		</spd-widget>

	</div>
</div>
